* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.logo {
  border-radius: 50%;
  height: 90px;
  margin-top: 15px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}
header nav {
  width: 80%;
}
header nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header nav .navbar ul {
  display: flex;
  list-style-type: none;
}
header nav .navbar ul li .boton {
  padding: 10px;
  font-size: 23px;
  color: #2dbb44;
  transition: all 0.5s ease-in-out;
}
header nav .navbar ul li .boton:hover {
  background-color: #2dbb44;
  color: white;
  border-radius: 5px;
  border: none;
}

.fondo {
  width: 100%;
  margin-bottom: 40px;
}

.main-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.wpp-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 80px;
  margin: 15px;
  transition: all 0.5s ease-in-out;
}
.wpp-icon:hover {
  transform: scale(1.3);
}

/* index */
.ubicacion {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 50px;
  width: 100%;
}

.local {
  height: 450px;
  width: 45%;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}
.title h2 {
  font-weight: 600;
  font-size: 25px;
}

.containerFluid {
  width: 80%;
  display: flex;
}
.containerFluid .categories {
  width: 20%;
  height: 290px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  margin-right: 15px;
}
.containerFluid .categories input {
  margin: 10px 1px;
  padding: 5px;
  border-radius: 5px;
}
.containerFluid .categories li {
  padding: 5px 3px;
  border-bottom: outset;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 5px;
  width: 85%;
}
.containerFluid .categories li:hover {
  background-color: #2dbb44;
  cursor: pointer;
}
.containerFluid .categories li a {
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}
.containerFluid .productos {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
  width: 80%;
}
.containerFluid .productos .card {
  position: relative;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 252px;
  margin: 0 10px 20px 0;
  cursor: pointer;
}
.containerFluid .productos .card:hover .card-info {
  opacity: 0.8;
  visibility: unset;
}
.containerFluid .productos .card img {
  border-radius: 5px;
  width: 252px;
  height: 252px;
}
.containerFluid .productos .card .card-info {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 210px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #2dbb44;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: opacity 0.4s, visibility 1s ease-in-out;
}
.containerFluid .productos .card .card-info h3 {
  font-size: 20px;
  font-weight: 400;
}
.containerFluid .productos .card .card-info p {
  font-weight: 300;
}
.containerFluid .productos .card .card-info button {
  background-color: yellow;
  border-radius: 5px;
  cursor: pointer;
  width: 35px;
  height: 30px;
}

.carrito-pedido {
  width: 43%;
}
.carrito-pedido .producto-carrito {
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
.carrito-pedido .producto-carrito .img-carrito {
  box-shadow: 0.3px 0px 0px 0px rgba(0, 0, 0, 0.25);
  height: 163px;
  width: 163px;
  border-radius: 5px;
}
.carrito-pedido .producto-carrito .cont-prod-carr {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.carrito-pedido .producto-carrito .cont-prod-carr .button-carrito {
  padding: 5px;
  margin: 15px;
}
.carrito-pedido .producto-carrito .cont-prod-carr h3 {
  padding: 15px;
}

.resumen {
  display: flex;
  flex-direction: column;
  width: 39%;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.25);
  margin: 0 0 30px 10px;
  align-items: center;
}
.resumen h3 {
  padding: 15px;
}
.resumen .resumen-items {
  margin-bottom: 210px;
  width: 100%;
}
.resumen .resumen-items .resumen-prod {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5px;
}
.resumen .subtotal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-style: groove;
  width: 100%;
}
.resumen .subtotal h4 {
  margin-top: 5px;
}

footer {
  display: flex;
  background-color: #2dbb44;
  justify-content: center;
  height: auto;
  width: 100%;
}
footer .footercont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  color: white;
}
footer .footercont .redes li {
  display: flex;
  padding: 5px;
}

@media (min-width: 1024px) {
  .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
/* tablet */
@media (max-width: 768px) {
  .main-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-layout .carrito-pedido {
    width: 80%;
  }
  .main-layout .carrito-pedido .producto-carrito {
    display: flex;
    flex-direction: column;
  }
  .main-layout .carrito-pedido .producto-carrito .img-carrito {
    margin-top: 15px;
  }
  .main-layout .carrito-pedido .producto-carrito .cont-prod-carr {
    display: flex;
    flex-direction: column;
  }
  .main-layout .carrito-pedido .producto-carrito .cont-prod-carr .button-carrito {
    margin: 10px;
  }
  .main-layout .resumen {
    width: 80%;
    margin: 0 0 30px 0;
  }
}
@media (max-width: 768px) {
  .ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ubicacion .local {
    height: auto;
    margin-bottom: 20px;
    width: 100%;
  }
  .ubicacion iframe {
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 768px) {
  .containerFluid {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
  .containerFluid .categories {
    width: 100%;
    margin-bottom: 20px;
  }
  .containerFluid .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .containerFluid .productos .card {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .footercont {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
  }
  .footercont .redes {
    display: flex;
  }
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar ul {
    display: flex;
    text-align: center;
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
