/* footer */

footer {
  grid-area: footer;
  display: flex;
  background-color: #2dbb44;
  justify-content: center;
  height: auto;
  width: 100%;
}

.footercont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  color: white;
}

.redes {
  display: flex;
}

.redes a {
  text-decoration: none;
  color: white;
}

.redes li {
  padding: 5px;
}
