footer {
  display: flex;
  background-color: #2dbb44;
  justify-content: center;
  height: auto;
  width: 100%;

  .footercont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    color: white;

    .redes li {
      display: flex;
      padding: 5px;
    }
  }
}
