// main

.fondo {
  width: 100%;
  margin-bottom: 40px;
}

.main-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.wpp-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 80px;
  margin: 15px;
  transition: all 0.5s ease-in-out;
}
.wpp-icon:hover {
  transform: scale(1.3);
}
