@include mobile {
  .ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;

    .local {
      height: auto;
      margin-bottom: 20px;
      width: 100%;
    }

    iframe {
      width: 100%;
      height: 300px;
    }
  }
}
