@include mobile {
  .containerFluid {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;

    .categories {
      width: 100%;
      margin-bottom: 20px;
    }

    .productos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      .card {
        margin-bottom: 20px;
      }
    }
  }
}
