header {
  display: flex;
  justify-content: center;
  width: 100%;

  nav {
    width: 80%;

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      ul {
        display: flex;
        list-style-type: none;

        li {
          .boton {
            padding: 10px;
            font-size: 23px;
            color: #2dbb44;

            &:hover {
              background-color: #2dbb44;
              color: #ffff;
              border-radius: 5px;
              border: none;
              transition: border-color 0.3s, background-color 0.3s, color 0.3s;
            }
          }
        }
      }
    }
  }
}
